@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply h-full;
  @apply w-full;
}


/* styles form io */
.formio-component .border {
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  background: transparent !important;
}

.address-form-container .row {
  /* increase specificity and force no-wrap */
  display: flex !important;
  flex-wrap: nowrap !important;
}

.flatpickr-calendar {
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.custom-w-fill-available{
  width: stretch;
}

.address-form-container .choices__inner::after {
  display: none !important;
}
