@import "formiojs/dist/formio.full.css";
@import "./tailwind.css";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
@import "@tsed/tailwind-formio/styles/index.css";

:root {
  --primary-color: #0c7ff2;
  --secondary-color: #60758a;
  --text-primary: #111418;
  --text-secondary: #60758a;
  --background-light: #ffffff;
  --background-medium: #f0f2f5;
  --border-light: #dbe0e6;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--text-primary);
  background-color: var(--background-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}