{% if doc %}
    {% if frappe.db.get_value('Job Offer', doc, 'custom_jo_expiry_date').strftime('%Y-%m-%d') < frappe.utils.today() %}
        <div>
            <center>
                <h1>Your Offer Letter Has Expired. Please Contact the HR Department.</h1>
            </center>
        </div>
    {% else %}
        <head>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
        </head>
        <center>
            <div id="operations" style="padding-top:20px">
                <button type="button" class="btn btn-warning" id="reject" onclick="rejectoffer()">Reject</button>
                <button type="button" class="btn btn-primary" id="accept" onclick="accept()">Accept</button>
            </div>
        </center>
        <div>{{ frappe.get_print('Job Offer', doc) }}</div>
    {% endif %}
{% else %}
    <div>
        <center>
            <h1>You have already accepted or rejected the Offer Letter.</h1>
        </center>
    </div>
{% endif %}


<script>
	function rejectoffer() {
    let text = "Are you sure you want to reject this job offer?";
    if (confirm(text)) {
		let queryParams = new URLSearchParams(window.location.search);
		let appl = queryParams.get('appl');
        fetch(window.location.origin+'/api/method/recruitment.job_offer_utils.job_offer_update?status=Rejected&&appl='+appl, {
			 method: 'POST',
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
			alert("Thank you for considering us, and we wish you the best in your future endeavors.")
			document.getElementById("operations").style.display = "none";
			fetch(window.location.origin+'/api/method/recruitment.job_offer_utils.submit_docs?status=Rejected&appl='+appl, {
				method: 'POST',
			})
        })
        .catch(error => {
            console.error('There was a problem with your fetch operation:', error);
        });
    }
}
function accept(){
	let queryParams = new URLSearchParams(window.location.search);
	let appl = queryParams.get('appl');
	fetch(window.location.origin+'/api/method/recruitment.job_offer_utils.job_offer_update?status=Accepted&appl='+appl, {
		 method: 'POST',
	})
	.then(response => {
		if (!response.ok) {
			throw new Error('Network response was not ok');
		}
		return response.json();
	})
	.then(data => {
		window.location.href = window.location.origin+"/"+data.message.webform+"/new?job_offer="+data.message.jo_id+"&job_applicant="+appl;
		fetch(window.location.origin+'/api/method/recruitment.job_offer_utils.submit_docs?status=Accepted&appl='+appl, {
			method: 'POST',
		})
		.then(response => {
			if (!response.ok) {
				throw new Error('Network response was not ok');
			}
			return response.json();
		})
	})
	.catch(error => {
		console.error('There was a problem with your fetch operation:', error);
	});
}
</script>